html{
	background: url(../images/reviews.jpg) no-repeat center center fixed;
	background-size: cover;
}

.content_mitch { 
	background-color: rgba(0,0,0,0.7);
	color: white;
	padding: 25px;
	height: wrap_content;
	width: 250px;
	float: left;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 35%;
}

.content_marv {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 25px;
	height: wrap_content;
	width: 250px;
	float: right;
}
